<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Under Maintenance</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding: 50px;
        }

        .maintenance-message {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body>
    <div class="maintenance-message">
        <h1>Website Under Maintenance</h1>
        <p>We apologize for the inconvenience, but our website is currently undergoing maintenance.</p>
        <p>Please check back later.</p>
        <p>For Booking or for more detials call or WhatsApp 7019693927</p>
    </div>
</body>

</html>